/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for repository: avian-influenza
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run the pipeline for the repository.
----------------------------------------------------------------------------------------
*/

params {
    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    bioproject                  = "PRJNA1102327"
    email                       = "pgangavarapu@scripps.edu"
    metadata                    = "$PWD/metadata/PRJNA1102327_metadata.csv"
    // Reference genome
    reference                  = "$PWD/reference/gisaid_epiflu_reference.fasta"
    outdir                     = "$PWD/output"
}
