/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run flusra -profile test,<conda/mamba> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    bioproject                  = null
    sra_accessions              = "${baseDir}/test/input/fastq/sra_ids.txt"
    email                       = "test@test.com"
    metadata                    = "${baseDir}/testing/PRJNA1102327_metadata.csv"
    // Reference genome
    reference                  = "${baseDir}/test/input/ref/gisaid_epiflu_reference.fasta"
    outdir                     = "${baseDir}/testing/output"
}
